.img {
    width: 350px;
    height: 250px;
}

.baner{
  color: #ffffff;
  text-align: center;

}
.people{
  text-align: center;

}

.send{
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #e4d7d7;
  
}

.timerr{
  font-size: 25px;
  background-color: #e4d7d7;
  display:inline;
  border-radius: 5%;
}

.wel {
  font-size: 20px;
}

.startQ{
  background-color: #e4d7d7;
}

.font-weight-normal11{
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
}

.nav-side{
  background-color: #e4d7d7;
}

.result-end{
  text-align: center;
}